.scenes{
    position: fixed; display: none; width: 100vw; height: 100vh; top: 0; left: 0; z-index: 9000;
    canvas{  }
}


.choose-orbe{
    position: relative; height: 100vh; width: 100vw;
    @keyframes slidein{
        from { top: 200px; }
        to { top: 0; }
    }

    @keyframes fadeText{
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    .items{
         position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center;
        .item{
            &.animation-text{ 
                position: relative; overflow: hidden; margin: 0 40px; height: 75px; min-width: 100%; display: inline-block; 
                
                a{ display: block; font-family: 'Larken', sans-serif; left: 50%; transform: translateX(-50%); text-decoration: none;  font-size: rem(60px); color: white; animation-name: slidein; position: absolute; animation-duration: 2s; font-weight: 400; 
                    
                    &::after{ content: ""; position: absolute; transition: all 2s; bottom: 4px; left: 0; background: white; width: 0px; height: 3px; }
                    &:hover{ &::after{ content: ""; width: 100%; } }
                
                }
            }
        }
    }
}

#video_cinematic{
    display: none; position: fixed; height: 100vh; width: 100vw; z-index: 2; top: 0;
    left: 0;
}

.cinematique{
    position: relative; display: none; height: 100vh;

    .content{
        display: flex; justify-content: center; align-items: center; height: 100vh;
        h1{ display: none; font-family: 'Larken', sans-serif; font-size: rem(40px); letter-spacing: 2px; font-weight: 600; color: white; z-index: 5; }
        
        .cinematic_6{ font-size: rem(60px); }
    }
}

.message-bottom{
    text-transform: uppercase; position: absolute; opacity: 0; display: block; bottom: 30px; left: 50%; transform: translateX(-50%); color: white; animation-name: fadeText; animation-duration: 3s; animation-fill-mode: forwards; z-index: 5;
}