/* ---- Home ---- */

@keyframes animation_enter{

    0% { transform: scale(1) rotate(0)!important; opacity: inherit; }
    100% { transform: scale(2) rotate(20deg); opacity: 0; }
}

.animation_enter{ animation-name: animation_enter; transition: all 0.3s; animation-duration: 0.9s; animation-fill-mode: forwards;     
    #image3d{ transform: scale(1)!important; }

}

.home{
    display: none; 
    .image-background{ 
        transition: all 0.5s; width: 100vw; height: 100vh; overflow: hidden; position: relative; background: rgba($color: #000000, $alpha: 0.6); box-shadow: inset 0 0 100px black; 
        
        &::before{
            content: ''; background-image: url("../img/background.png"); filter: blur(200px); position: absolute; width: 100vw; height: 100vh; z-index: -2; background-size: cover; background-repeat: no-repeat; background: rgba($color: #000000, $alpha: 0.5);
        }

        .initial_background{
            transform: perspective(100px) rotateY(0deg) rotateX(0deg) scale(1)!important; transition: all 0.8s!important;
        }
    
        #image3d{ 
            position: absolute; z-index: 100; width: 100vw; height: 100vh; background-image: url("../img/background.png");  background-size: cover; background-position: center; transform: perspective(100px) rotateY(0deg) rotateX(0deg) scale(1.3); overflow: hidden;  z-index: -1; box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; transition: all 0.2s;
        }
        
    }

    .content{
        position: relative; top: 0; left: 0; position: fixed; 
        width: 100vw; height: 100vh; z-index: 2; 

        #title-rotate{
            transition: all 0.3s;
        }

        .title-box{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer; transition: all 0.8s;
            #title{ font-family: 'Larken'; font-weight: 200; font-size:rem(50px) ; letter-spacing: 2px; }
            span{ display: block; text-transform: uppercase; color: white; text-align: center; margin: 0 auto;}
            &:hover{ transform: translate(-50%, -50%) scale(1.15);} 
        }
        h1{ text-align: center; display: block; transition: all 0.2s; text-align: center; color: white; }
    }

}